
@{
    ViewBag.Title = "Index";
}


<div class="container mb-4">
    <h1>Order done successfully</h1>
    <a class="btn btn-secondary mr-4" href="~/Order/Show">Show Order</a>
    <a class="btn btn-secondary mr-4" href="~/Home/Index">Go Home</a>
</div>